body {
    background-color:rgba(241, 241, 241, 0.973);
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  
  .img-fluid{border-radius: 10px 10px 10px 10px;
  }
  
  p,h4{
    font-family: 'Oswald',sans-serif;
    color: rgb(14, 74, 143);
  }
  
  h4{
    font-weight: bold;
  }
  
  .card{
      margin-top:30px;
      margin-bottom:30px;
      padding-top: 30px;
      padding-right: 30px;
      padding-left: 30px;
      border-width: 1px;
      border-radius: 10px;
  }
  
  
.citesteArticol
{
    color:#de5134;
    font-weight: bold;
}  
button{
    width: 50%;
    height: 40px;
}