body{
    background-color: #f7f9fb;
    font-size: 14px;
}
.copyrightFooter
{
    text-align: center;
    color:grey;
}
.butonTrimite {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.panou {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 3px 4px 3px 4px rgba(0,0,0,.05);
}

hr {
    margin-top: 20px;
     margin-bottom: 20px; 
    border: 0;
}